@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/agrifood.jpg"), url("../images/agrifood1.jpg"), url("../images/agrifood5.png"), url("../images/agrifood3.jpg");
    background-repeat: no-repeat;
    background-size: 1124px 680px;
    background-position: -50px -150px, -50px 350px, 1050px -150px, 1050px 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 30px;
    
}

.quiz-container {
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    background: black;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}
.back {
    position:relative; left:-40px; bottom: 40px;
    font-size: 30pt;
    padding-bottom: 4;
    background-color: white;
}
button {
    background-color: rgb(147, 221, 235);
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background-color: #ceb338;
}

/* button:focus {
    background-color: rgb(147, 221, 235);
    outline: none;
} */

